fieldset {
    border-color: #a593c2;
    border-width: 3px;
    border-style: solid;
}

fieldset>legend {
    color: #a593c2;
}

p>label {
    display: block;
}

input, textarea, select {
    border-radius: 7px;
}

input:valid, textarea:valid {
    border-color: green;
}

input:invalid, textarea:invalid {
    border-color: red;
}

input:focus:invalid {
    border-color: black;
}

input:required, textarea:required {
    border-style: dashed;
}

