h1 {
    font-size: 3em;
    margin-top: .5em;
}

.welcome-text {
    font-size: 40px;
    color: #a593c2;
}

.banner {
    max-width: 100%;
}

.sub-title {
    background-color: #fff;
    font-size: 1.2em;
    padding: 10px;
}

.searchBox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

/*#weekly-promotions {*/
/*    display: block;*/
/*}*/