@media only screen and (min-width: 768px) {

    /* header rules */
    header h1 {
        font-size: 2.85rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    header img {
        height: 100px;
    }

    /* nav rules */
    nav button {
        display: none;
    }
    nav ul {
        display: block;
    }
    nav li {
        width: 20%;
        float: left;
    }


    .med-10 {
        width: 83.3333%;
    }
    .med-6 {
        width: 50%;
    }
    .med-4 {
        width: 33.33333%;
    }
    .med-2 {
        width: 16.6666%;
    }

    /* aside rules */
    aside {
        text-align: left;
    }
    aside #aside-logo {
        width: 100%;
        height: auto;
    }
    aside>ul, aside>li {
        text-align: left;
    }






}
/* end of media query */